aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.4.0
asgiref==3.4.1
astroid==2.4.2
async-timeout==4.0.1
attrs==20.1.0
autopep8==1.5.4
base58==2.0.1
bitarray==1.2.2
celo-sdk==1.0.0
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
cmake==3.18.2.post1
cytoolz==0.10.1
ecdsa==0.17.0
eth-abi==2.1.1
eth-account==0.5.2
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.9.4
fastapi==0.70.0
frozenlist==1.2.0
gunicorn==20.1.0
h11==0.12.0
hexbytes==0.2.1
httpcore==0.14.3
httpx==0.21.1
idna==2.10
ipfshttpclient==0.6.0.post1
isort==5.4.2
jsonschema==3.2.0
lazy-object-proxy==1.4.3
limits==1.6
lru-dict==1.1.6
mccabe==0.6.1
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
parsimonious==0.8.1
passlib==1.7.4
protobuf==3.13.0
py-solc==3.2.0
py-solc-x==0.10.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycryptodome==3.9.8
pydantic==1.8.2
pylint==2.6.0
pyrsistent==0.16.0
python-dotenv==0.19.2
python-jose==3.3.0
redis==3.5.3
requests==2.24.0
rfc3986==1.5.0
rlp==1.2.0
rsa==4.8
semantic-version==2.8.5
six==1.15.0
slowapi==0.1.5
sniffio==1.2.0
solc==0.0.0a0
starlette==0.16.0
toml==0.10.1
toolz==0.10.0
typing_extensions==4.0.0
urllib3==1.25.10
uvicorn==0.16.0
varint==1.0.2
web3==5.12.0
websockets==8.1
wrapt==1.12.1
yarl==1.7.2
